/* fonts */
@font-face {
    font-family: 'Helvetica';
    src: url("fonts/Helvetica.ttf");
}
/* basic */
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Helvetica', sans-serif;
    color: white;
    background: black;
}
ul,ol {
    list-style: none;
}
a, a::after, a::before {
    text-decoration: none;
    color: white;
}
p {
    font-size: 25px;
}
.text {
    font-size: 25px;
}
/* header */
.header {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.social_media {
    width: 30px;
    margin-left: 10px;
}
.social_media:hover {
    opacity: 50%;
    transition: 0.3s;
}
.social_media:active {
    opacity: 30%;
    transition: 0.5s;
}
.img {
    max-width: 100%;
}
/* content */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}
.container img {
    max-width: 100%;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.content {
    display: flex;
}
.max_screen {
    grid-column: 1/4;
}